#for {
display: flex;
flex-wrap: wrap ;
justify-content: center;

}
.Forecast .card{
width: 150px;
margin-top: 10px;
margin-bottom: 20px;
transition: all 200ms ease;
opacity: 0.98;
background: #78d9e0d8;
border: none !important;
}
  
  .Forecast .card:hover {
    background: rgb(68, 65, 65) 00;
    color: aqua;
  }
  
  .Forecast .card-title {
    text-align: center;
    font-size: 15px;
    padding: 3px;
    margin-bottom: 10px;
  }
  
  .Forecast .card-body {
    padding: 3px;
    margin-top: 10px;
  }
  
  .Forecast .card-text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
  }
  
  
  canvas {
   display: block;
   margin: 0 auto;
  }